#faq-section {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

#acordeon {
    margin-top: 2em;
}

#acordeon, #acordeon div {

}

#acordeon ul {
    height: 400px;
    list-style: none;
}

#acordeon ul li {
    width: 100%;
    height: 50px;
    /*background-color: #C3632D;*/
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0, #A8740D),
        color-stop(0, #F5F1EB),
        color-stop(1, #DBA033)
        );
    display: block;
    overflow: hidden;
    border-top: 1px solid rgb(70, 63, 56);
    border-right: 1px solid rgb(70, 63, 56);
    border-left: 1px solid rgb(70, 63, 56);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: height .5s ease-in-out;
}

#acordeon ul li:hover {
    height: 200px;
}

#acordeon ul li h3 {
    height: 25px;
    padding-left: 1em;
    -webkit-transform-origin: 0 100%;
}

.acordeon-contenido {
    height: 150px;
    background-color: rgb(255, 255, 255);
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border-top: 1px solid black;
}

.acordeon-contenido 

#acordeon div {

}