/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-jun-2014, 13:55:46
    Author     : Juan
*/
#form-frame {
    width: 700px;
    height: 500px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-image: url('./../img/optimized/letter.jpg');
    background-repeat: no-repeat;
    border: 1px solid #888;
    box-shadow:2px 2px 2px #888 inset;
}

#form-frame form {
    margin-top: 10%;
}

.campo, .boton {
    display: block;
    margin-left: 25%;
}

.campo {
    width: 300px;
    font-size: 15px;
    padding: .2em;
    margin-top: 15px;
}

.campo:focus {
    color:  #C3632D;
}

input {
    height: 25px;
}

textarea {
    height: 180px;
}

.boton {
    margin-top: 25px;
}