/* reset */
body, header, article, nav, section, p, aside, div, ul, ol, li, a {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: ubuntu;
    src: url('./../font/Ubuntu-M.ttf');
}

body {
    font-family: ubuntu;
    background-color: #ececec;
}

#container {
    width: 960px;
    height: 800px;
    padding-top: 2.5em;
    margin: 2em auto 0 auto;
    background-image: url('./../img/optimized/sushi-body2.jpg');
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.text-frame {
    color: white;
    width: 668px;
    height: 200px;
    padding: 0 1em 0 1em;
    margin: 0 auto 0 auto;
    background-color: #000;
    border: 1px solid lightgray;
    opacity: .7;
}

.text-frame h3 {
    color: #C3632D;
    font-size: 25px;
}

.text-frame p {
    margin-top: 1.5em;
}

/* Estilo de enlaces */
.text-frame a {
    color: #C3632D;    
}

.text-frame a {
    color: #C02416;
}
